{% extends "main_layout.html.twig" %}

{% block banner %}
    <img alt="Banner" src="{{ asset('assets/images/british.jpg') }}" style="width:100%" />
    <h3 class="banner-header">{{ 'EZ Task'|trans }}</h3>
{% endblock %}